In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_absolute_error

#import torch
#from torch import nn
#from torch.utils.data import Dataset, DataLoader

In [20]:
df = pd.read_excel(r"C:\Users\mahes\Downloads\seat_matrix_data (2).xlsx")
df.head()

,college_branch,year,category,round,total_seats,filled_seats,available_seats
0,E205 EE,22,STG,2ext,1,0,1
1,E205 EE,22,SCG,2ext,1,0,1
2,E205 CS,22,SCG,2ext,1,0,1
3,E205 EC,22,SCG,2ext,2,0,2
4,E205 CD,22,GMR,2ext,1,0,1

In [13]:
cf=pd.read_excel(r"C:\Users\mahes\Downloads\cutoff_data.xlsx")

In [ ]:
kcet_data = pd.merge(cf, df, on=['college_branch', 'year', 'category', 'round'], how='left')
kcet_data.head()

,college_branch,category,round,year,rank,total_seats,filled_seats,available_seats
0,E001 AI,STR,2gen,21,20891,NaN,NaN,NaN
1,E001 AI,STG,2gen,21,13649,NaN,NaN,NaN
2,E001 AI,SCR,2gen,21,30827,NaN,NaN,NaN
3,E001 AI,SCK,2gen,21,21897,NaN,NaN,NaN
4,E001 AI,SCG,2gen,21,14474,3.0,0.0,3.0

In [23]:
kcet_data.head(50)

,college_branch,category,round,year,rank,total_seats,filled_seats,available_seats
0,E001 AI,STR,2gen,21,20891,NaN,NaN,NaN
1,E001 AI,STG,2gen,21,13649,NaN,NaN,NaN
2,E001 AI,SCR,2gen,21,30827,NaN,NaN,NaN
3,E001 AI,SCK,2gen,21,21897,NaN,NaN,NaN
4,E001 AI,SCG,2gen,21,14474,3.0,0.0,3.0
5,E001 AI,GMR,2gen,21,7266,2.0,0.0,2.0
6,E001 AI,GMK,2gen,21,6832,1.0,0.0,1.0
7,E001 AI,GM,2gen,21,3279,7.0,0.0,7.0
8,E001 AI,3BG,2gen,21,5036,NaN,NaN,NaN
9,E001 AI,3AR,2gen,21,9232,NaN,NaN,NaN
10,E001 AI,3AG,2gen,21,4009,NaN,NaN,NaN
11,E001 AI,2BG,2gen,21,7098,NaN,NaN,NaN
12,E001 AI,2AR,2gen,21,14622,NaN,NaN,NaN
13,E001 AI,2AK,2gen,21,19828,1.0,0.0,1.0
14,E001 AI,2AG,2gen,21,5887,1.0,0.0,1.0
15,E001 AI,1G,2gen,21,7512,1.0,0.0,1.0
16,E001 AI,STG,2ext,22,13323,NaN,NaN,NaN
17,E001 AI,SCR,2ext,22,75060,NaN,NaN,NaN
18,E001 AI,SCG,2ext,22,26995,2.0,0.0,2.0
19,E001 AI,GMR,2ext,22,11047,1.0,0.0,1.0
20,E001 AI,GMK,2ext,22,15188,NaN,NaN,NaN
21,E001 AI,GM,2ext,22,6987,7.0,0.0,7.0
22,E001 AI,3BG,2ext,22,8688,NaN,NaN,NaN
23,E001 AI,3AR,2ext,22,19367,NaN,NaN,NaN
24,E001 AI,3AG,2ext,22,9859,NaN,NaN,NaN
25,E001 AI,2BK,2ext,22,38720,NaN,NaN,NaN
26,E001 AI,2BG,2ext,22,10598,1.0,0.0,1.0
27,E001 AI,2AR,2ext,22,16576,NaN,NaN,NaN
28,E001 AI,2AG,2ext,22,12204,1.0,0.0,1.0
29,E001 AI,1G,2ext,22,10199,NaN,NaN,NaN
30,E001 AI,STG,2gen,22,13323,NaN,NaN,NaN
31,E001 AI,SCR,2gen,22,39944,1.0,0.0,1.0
32,E001 AI,SCG,2gen,22,22543,NaN,NaN,NaN
33,E001 AI,GMR,2gen,22,7445,1.0,0.0,1.0
34,E001 AI,GMK,2gen,22,10372,NaN,NaN,NaN
35,E001 AI,GM,2gen,22,5644,4.0,0.0,4.0
36,E001 AI,3BG,2gen,22,7194,NaN,NaN,NaN
37,E001 AI,3AR,2gen,22,7885,1.0,0.0,1.0
38,E001 AI,3AG,2gen,22,5698,NaN,NaN,NaN
39,E001 AI,2BK,2gen,22,38720,NaN,NaN,NaN
40,E001 AI,2BG,2gen,22,9561,1.0,0.0,1.0
41,E001 AI,2AR,2gen,22,10689,NaN,NaN,NaN
42,E001 AI,2AG,2gen,22,7457,1.0,0.0,1.0
43,E001 AI,1G,2gen,22,10199,1.0,0.0,1.0
44,E001 AI,STG,1gen,22,12296,1.0,0.0,1.0
45,E001 AI,SCR,1gen,22,22965,2.0,0.0,2.0
46,E001 AI,SCG,1gen,22,19929,6.0,0.0,6.0
47,E001 AI,GMR,1gen,22,6261,4.0,0.0,4.0
48,E001 AI,GMK,1gen,22,10372,1.0,0.0,1.0
49,E001 AI,GM,1gen,22,4202,20.0,0.0,20.0

In [26]:
kcet_data=kcet_data.fillna(0)

In [27]:
kcet_data

,college_branch,category,round,year,rank,total_seats,filled_seats,available_seats
0,E001 AI,STR,2gen,21,20891,0.0,0.0,0.0
1,E001 AI,STG,2gen,21,13649,0.0,0.0,0.0
2,E001 AI,SCR,2gen,21,30827,0.0,0.0,0.0
3,E001 AI,SCK,2gen,21,21897,0.0,0.0,0.0
4,E001 AI,SCG,2gen,21,14474,3.0,0.0,3.0
...,...,...,...,...,...,...,...,...
39841,E237 ME,3BG,1gen,21,122075,2.0,0.0,2.0
39842,E237 ME,3AG,1gen,21,119867,1.0,0.0,1.0
39843,E237 ME,2BG,1gen,21,121548,1.0,0.0,1.0
39844,E237 ME,2AG,1gen,21,166942,5.0,0.0,5.0
39845,E237 ME,1G,1gen,21,154959,1.0,0.0,1.0

In [ ]:
ROUND_ORDER = {"1gen": 1, "2gen": 2, "2ext": 3}

def process_seat_matrix(df):
    df = df.copy()

    # Clean columns
    df["round"] = df["round"].astype(str).str.lower().str.strip()
    df["seats"] = df["seats"].fillna(0).astype(int)

    df["round_order"] = df["round"].map(ROUND_ORDER)
    df = df.sort_values(["year", "college_branch", "category", "round_order"])

    results = []

    for (year, cb, category), group in df.groupby(["year", "college_branch", "category"]):

        # ðŸ” Always fetch first round total explicitly
        first_round_row = group[group["round"] == "1gen"]

        if first_round_row.empty:
            # Skip invalid group safely
            continue

        first_round_total = int(first_round_row.iloc[0]["total_seats"])

        for _, row in group.iterrows():
            round_code = row["round"]
            available_now = int(row["total_seats"])

            if round_code == "1gen":
                total = first_round_total
                filled = 0
                available = first_round_total
            else:
                total = first_round_total
                available = available_now
                filled = max(total - available, 0)

            results.append({
                "year": year,
                "college_branch": cb,
                "category": category,
                "round": round_code,
                "intake_capacity": total,
                "seats_filled": filled,
                "seats_available": available
            })

    return pd.DataFrame(results)

In [35]:
preprocessed_seat_matrix = process_seat_matrix(kcet_data)

KeyError: 'seats'